/*================================================================*\
    Author: <AUTHORNAME>
    Copyright: Teabag Digital
    Contact: http://teabagdigital.com/ | hello@teabagdigital.com
\*================================================================*/

// Mixins & Variables
@import 'settings/_responsive';
@import 'settings/_color';
@import 'settings/_typography';

/* Bourbon lib  */
@import 'bourbon/bourbon';

// Reset
@import 'libs/_reset';
@import 'libs/_normalise';


// TB custom
@import 'utilities/_tbMixins';

@import 'modules/_global';
@import 'modules/_header';
@import 'modules/_header--mobile';
@import 'modules/_footer';
@import 'modules/_boxes';
@import 'modules/_sidebar';
@import 'modules/_homepage';
@import 'modules/_courses';
@import 'modules/_news';
@import 'modules/_contact';
@import 'modules/_forum';
@import 'modules/_landing_page';
@import 'modules/_registration';
@import 'modules/_mobile';
@import 'modules/_slider';

// settings

/*@import 'modules/globals/_reusable';
@import 'modules/globals/_form';
@import 'modules/globals/_table';
@import 'modules/globals/_cms';*/

// Animations
//@import 'animations/_animations';


// Libraries (use as needed)
//@import 'libs/dev/_debug';
//@import 'libs/dev/_animate';
//@import 'libs/_flexslider';
//@import 'libs/_socialite';