/*=========================================*\
    Responsive site settings
\*=========================================*/

//Breakpoints 
$small: 768px;

//Mobile Navigation

$standard-space: 17px;

$mobile-nav-showhide: 62px;
$mobile-nav-width: 83%;
$mobile-nav-wrapper: $mobile-nav-width; 

$cross-line-length: 54px;
$mobile-spacing: 8px;